
<nav class="navbar navbar-light bg-light static-top">
            <div class="container">
                <a class="btn btn-primary" href="{% url 'AppCoderInicio' %}">Educacion Code</a>
                <a class="navbar-brand" href="{% url 'AppCoderCursoFormulario'%}"> Nuevo Curso</a>
                <a class="navbar-brand" href="{% url 'AppCoderEstudianteFormulario'%}">Nuevo Estudiante</a>
                <a class="navbar-brand" href="{% url 'AppCoderProfesorFormulario'%}">Nuevo Profesor</a>


            {% if user.is_authenticated %}

                <a class="navbar-brand" href="{% url 'AppCoderBusquedaCamada'%}">Busqueda Camada</a>
                <a class="navbar-brand" href="{% url 'AppCoderBusquedaEstudiante'%}">Busqueda Estudiante</a>
                <a class="navbar-brand" href="{% url 'AppCoderBusquedaProfesor'%}">Busqueda Profesor</a>

                <img height="40px" src="{{ user.avatar.imagen.url }}">
                <a class="btn btn-primary" href="{% url 'UserAppLogout' %}">Cerrar Sesion</a>
                <a class="btn btn-primary" href="{% url 'UserAppAvatar' %}">Subir avatar</a>
                <a class="btn btn-primary" href="{% url 'UserAppEditar' %}">Editar Usuario</a>
                <h5>User : {{user.get_username }}</h5>

            {% else %}

                <a class="btn btn-primary" href="{% url 'UserAppRegister' %}">Registro</a>
                <a class="btn btn-primary" href="{% url 'UserAppLogin' %}">Login</a>

            {% endif %}
            </div>
        </nav>