
<nav class="navbar navbar-light bg-light static-top">
            <div class="container">
                <a class="navbar-brand" href="{% url 'AppCoderInicio' %}">Inicio</a>
                <a class="navbar-brand" href="{% url 'AppCoderCursoFormulario'%}">Curso Formulario</a>
                <a class="navbar-brand" href="{% url 'AppCoderBusquedaCamada'%}">Busqueda Camada</a>
                <a class="navbar-brand" href="{% url 'AppCoderEstudianteFormulario'%}">Nuevo Estudiante</a>
                <a class="navbar-brand" href="{% url 'AppCoderBusquedaEstudiante'%}">Busqueda Estudiante</a>
                <a class="navbar-brand" href="{% url 'AppCoderProfesorFormulario'%}">Nuevo Profesor</a>
                <a class="navbar-brand" href="{% url 'AppCoderBusquedaProfesor'%}">Busqueda Profesor</a>

            {% if user.is_authenticated %}

                <h5>User : {{user.get_username }}</h5>

                <a class="btn btn-primary" href="{% url 'UserAppLogout' %}">LogOut</a>

            {% else %}

                <a class="btn btn-primary" href="{% url 'UserAppRegister' %}">Registro</a>
                <a class="btn btn-primary" href="{% url 'UserAppLogin' %}">Login</a>

            {% endif %}
            </div>
        </nav>