{% extends 'index.html' %}

{% block title %}
    Estudiante Filtrado
{% endblock %}

{% block inicio %}

    {% for estudiante in estudiantes %}

        El nombre del estudiante es {{estudiante.nombre}} {{estudiante.apellido}}
        <a href="{% url 'AppCoderEliminarEstudiante' estudiante.nombre estudiante.apellido estudiante.email  %}">-x-</a>
        <a href="{% url 'AppCoderEditarEstudiante' estudiante.nombre estudiante.apellido estudiante.email %}"> Editar </a>
        <br>

    {% endfor %}

{% endblock %}